<header>
    <div class = "logo">
        <a href = "/">
            twi
        </a>
    </div>

    <button class = "hamburger" id = "hamburger-button" aria-label = "Menu">
        <img src = "/images/menu.svg"
            id = "menu-icon"
            alt = "Menu"
        />
    </button>

    <nav id = "nav-menu">
        <a href = "/">home</a>
        <a href = "/tech/">tech</a>
        <a href = "/art/">art</a>
        <a href = "/blog/">blog</a>
        <a href = "/contact/">contact</a>
    </nav>

</header>
