<header>
    <div class = "logo">
        <a href = "/">
            twi
        </a>
    </div>

    <button class = "hamburger" id = "hamburger-button" aria-label = "Menu">
        <svg xmlns = "http://www.w3.org/2000/svg" height = "40px" viewBox = "0 -960 960 960" width = "40px" aria-hidden = "true">
            <path class = "icon-menu" d = "M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/>
        </svg>
    </button>

    <nav id = "nav-menu">
        <a href = "/">home</a>
        <a href = "/tech/">tech</a>
        <a href = "/art/">art</a>
        <a href = "/blog/">blog</a>
        <a href = "/contact/">contact</a>
    </nav>

</header>
